<div ng-controller ="QuestionsCtrl">
  <div class="container">
    <form class="form-inline" role="form">
      <div class="form-group" ng-show="questions.length">
        <h3>Search for a question</h3>
        <input ng-model="query" type="text" class="form-control" placeholder="Search Questions">
      </div>
    </form>
    <h3>Ask a new question</h3>
    <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="QuestionsFactory.questionTitle" class="form-control" placeholder="Ask your question">
      </div>
      <button type="submit" class="btn btn-primary">Ask</button>
    </form>
    <div class="page-header">
      <h2 ng-show="questions.length && filtered.length">Questions</h2>
      <h2 ng-show="questions.length && !filtered.length">Ask your question</h2>
        <ul>
          <li ng-repeat="item in filtered = ( questions | filter:query)">
            <a ui-sref="questions.answers({ questionId: item.id })">{{ item.title }}</a>
          </li>
        </ul>
      </div>
      <div ui-view>
    </div>
  </div>
</div>
